@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900;700;500;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}
/* Navbar Area */
.navbar {
  height: 80px;
  padding: 0 60px;
}
.navbar-brand {
  letter-spacing: 1px;
  line-height: 80px;
}

.b1 {
  color: #3ebebe;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 800;
}
.b2 {
  color: #021c5f;
  font-family: "Raleway", sans-serif;
  margin-left: -4px;
  font-size: 30px;
  font-weight: 800;
}

/* .nav-item {
  line-height: 80px;
  list-style-type: none;
} */
.nav-item a{
  color: #05097a;
  font-weight: 700;
}
.dropdown-menu {
  position: absolute;
  top: 60px;
  height: fit-content;
  line-height: 15px;
}
.float-right {
  display: flex;
}
.nav__buttons {
  display: flex;
  align-items: center;
}
.nav__buttons button {
  cursor: pointer;
}


.btn1 {
  width: 6rem;
  height: 2.5rem;
  border-radius: 5px;
  padding: 4px;
  color: #022379;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  border: 3px solid #022379;
  background-color: #ffffff;
  font-size: 15px;
  margin-right: 10px;
}
.btn2 {
  border-radius: 5px;
  width: 9rem;
  height: 2.5rem;
  padding: 6px;
  color: white;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  background-color: #021c5f;
  border: none;
}

/* Main home section*/

.main {
  height: calc(100vh - 80px);
  margin: 0;
  background-image: url("./https://res.cloudinary.com/dwu1btxcg/image/upload/v1601739207/Migrant/home_okgntg.png");
  background-position: center;
  background-size: cover;
  padding: 60px;
}

.centered {
  text-align: center;
  color: #f3f3f3;
}

.text1 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

.head {
  font-size: 60px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.text {
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
}

.pro {
  font-size: 18px;
  font-weight: 700;
}

.b3 {
  color: #3ebebe;
  font-family: "Raleway", sans-serif;
  margin-left: -4px;
  font-size: 18px;
}

.btn3 {
  color: white;
  background-color: #021c5f;
  border-radius: 2.5px;
  border: none;
  width: 7.5rem;
  height: 2.5rem;
  padding: 5px;
  margin-top: 50px;
  margin-right: 10px;
}
.btn4 {
  color: white;
  background-color: #021c5f;
  border-radius: 2.5px;
  border: none;
  width: 18rem;
  height: 2.5rem;
  padding: 5px;
  margin-top: 50px;
}
.btn3:active {
  border: none;
  box-shadow: 0 2px 0 #021c5f;
  transform: translateY(3px);
}
.btn4:active {
  border: none;
  box-shadow: 0 2px 0 #021c5f;
  transform: translateY(3px);
}
.landing__intro {
  padding: 60px;
  justify-content: center;
}

/* Our Mission page */

.mission {
  background-color: #021c5f;
  justify-content: center;
  color: white;
  height: 100vh;
  display: flex;
  padding: 40px;
  margin: 60px;
}
.mission__statement {
  margin-top: 30px;
  text-align: left;
  margin-left: 15px;
  padding-right: 30px;
}
.identity {
  color: #f0f1f4;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin-left: 5px;
  margin-top: 30px;
}
.misssion__header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: white;
  margin-top: 35px;
}
.mission__body {
  color: #ffffff;
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.mission h6 {
  font-weight: 800;
  color: #f0f1f4;
  margin-left: 15px;
  font-family: "Raleway", sans-serif;
}
.founder {
  color: #f0f1f4;
  margin-left: 15px;
}

.mission__image {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 30px;
  border-radius: 5px;
}

.product {
  margin: 60px;
}
.product_header {
  display: flex;
  margin-bottom: 30px;
}
.product_header_word {
  width: 100%;
  text-align: center;
  color: #021c5f;
  border-bottom: 3px solid #021c5f;
  font-size: 36px;
  font-weight: 600;
  font-family: "Poppins";
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-bottom: 20px;
}
.product_cards {
  display: flex;
  justify-content: space-between;
}
.p_card {
  width: 28.3rem;
  padding: 30px;
}
.card__header {
  font-size: 18px;
  font-weight: 600;
}

.over {
  color: #3dbdbd;
}
.wood {
  color: #021c5f;
}
.our_team {
  margin: 60px;
}

.team_header {
  width: 100%;
  text-align: center;
  color: #021c5f;
  border-bottom: 3px solid #021c5f;
  font-size: 36px;
  font-weight: 600;
  font-family: "Poppins";
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-bottom: 70px;
}
.team_cards {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.team_member {
  width: 15rem;
}
.member_info {
  color: #021c5f;
  font-weight: 600;
  margin-top: 5px;
}

.read_more {
  background-color: #021c5f;
  color: #f0f1f4;
  border: none;
  border-radius: 2.2px;
  width: 30%;
  height: 4vh;
  cursor: pointer;
}

.six_things {
  margin: 60px;
}
.row__1 {
  display: flex;
  justify-content: space-between;
}

.six_card {
  width: 30rem;
  background-color: #ffffff;
  margin: 20px;
  padding: 20px 30px;
  height: 250px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.six_card p i {
  color: #021c5f;
  font-size: 48px;
  vertical-align: middle;
  margin: 0 20px 0 0;
}

.credential__header {
  font-size: 18px;
  font-weight: 600;
  color: #021c5f;
}
.row__2 {
  display: flex;
  justify-content: space-between;
}

.testimonial {
  padding: 60px;
  margin-bottom: 60px;
  background-color: #0b4df57e;
}

.testimonial_header {
  font-size: 36px;
  font-weight: 900;
  color: #021c5f;
  text-align: center;
}
.testimonial__cards {
  display: flex;
}
.client1 {
  width: 18rem;
  margin: 0 15px;
  padding: 20px 30px;
}
.client {
  text-align: center;
}
.next {
  font-size: 48px;
  color: #021c5f;
  font-weight: 900;
}

/* .next__card {
  display: flex;
  flex-direction: column;
} */
.next__info {
  background-color: #0b4df523;
  width: 35rem;
  text-align: center;
  border-radius: 500px;
  height: 5rem;
  margin-bottom: 10px;
  padding: 5px;
}

.next_header {
  font-size: 18px;
  font-weight: 700;
  color: #021c5f;
}
.steps {
  font-weight: 700;
}
#first_step {
  align-items: flex-end;
}
.ourblog {
  padding: 60px;
  background-color: #0b4df544;
}
.blog_mini_header {
  font-size: 12px;
  color: #021c5f;
  font-weight: 500;
}

.blog_large_header {
  font-size: 36px;
  color: #021c5f;
  font-weight: 900;
}

.main_post {
  width: 42rem;
  margin-bottom: 15px;
}
.mainpost_head {
  color: #021c5f;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 5px;
}
.mainpost_info {
  font-weight: 500;
  font-weight: 13px;
}

.big_read_more {
  cursor: pointer;
  background-color: #021c5f;
  width: 7rem;
  color: #f0f1f4;
  padding: 7px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: 700;
}
.big_read_more:hover {
  background-color: aqua;
  color: #021c5f;
  transition: 0.3s ease-in;
}

.small__blog_posts {
  margin-bottom: 20px;
}

.minin {
  float: left;
  margin: 0 10px 0 0;
  width: 12rem;
}
.smallb_head {
  font-weight: 900;
  color: #021c5f;
  margin-bottom: 10px;
}
.smallb_info {
  font-size: 12px;
}
.blog_read_more {
  background-color: #021c5f;
  border-radius: 3px;
  border: none;
  font-size: 8px;
  padding: 4px;
  color: #ffffff;
}
.blog_read_more:hover {
  background-color: aqua;
  color: #021c5f;
  transition: 0.3s ease-in;
}
/* END OF BLOG CODE */

/* FOOTER */
.contacts {
  background-image: url("./images/footer\ bg-01.jpeg");
  background-position: center;
  background-size: cover;
  padding: 60px;
  color: #ffffff;
  display: flex;
}

.content-box1 {
  width: 25rem;
  margin-right: 20px;
}
.foot__two {
  width: 20rem;
  margin: 0 10px;
  margin-right: 20px;
}
.foot__two li {
  list-style-type: square;
}
.foot__two li a {
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 500;
}
.footer_heads {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 100px;
}

.ovefoot {
  font-size: 28px;
  font-weight: 700;
}
.content-box1 ul li {
  margin-bottom: 10px;
}
.social__icons a {
  color: #ffffff;
}
.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__form input {
  padding: 10px;
  margin-bottom: 10px;
  width: 15rem;
  border-radius: 4px;
  border: none;
}

.footer__form button {
  width: 8rem;
  padding: 12px;
  font-weight: 500;
  background-color: #41dfdf;
  color: #f3f3f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer__form button:hover {
  background-color: #162391;
  transition: 0.5s;
}
